@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	background-color: hsl(217, 54%, 11%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

img {
	max-width: 100%;
	border-radius: 1rem;
}

.container {
	max-width: 350px;
	padding: 1.5rem;
	background-color: hsl(216, 50%, 16%);
	border-radius: 1rem;
	box-shadow: 0 8px 0 22px hsl(217, 55%, 10%, 0.8),
		0 20px 0 50px hsl(217, 55%, 10%, 0.4);
}

.pics {
	position: relative;
	cursor: pointer;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: hsl(178, 100%, 50%, 0.5);
	height: 100%;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}

.pic1:active + .wrapper {
	display: flex;
}

.main {
	margin-block: 1.5rem 1rem;
	border-bottom: 0.5px solid hsl(215, 32%, 27%);
}

.title {
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	cursor: pointer;
}

.title:active {
	color: hsl(178, 100%, 50%);
}

.subtitle {
	margin-block: 1.5rem;
	color: hsl(215, 51%, 70%);
	font-weight: 300;
}

.info {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 1.5rem;
}

.info img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 3px;
}

.value {
	color: hsl(178, 100%, 50%);
	font-weight: 600;
}

.time {
	color: hsl(215, 51%, 70%);
}

.footer {
	display: flex;
	align-items: center;
}

.footer img {
	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 50%;
	max-width: 2rem;
	margin-right: 1rem;
}

.footer p {
	color: hsl(215, 51%, 70%);
	font-weight: 300;
	font-size: 1rem;
}

.footer span {
	color: hsl(0, 0%, 100%);
	cursor: pointer;
}

.footer span:active {
	color: hsl(178, 100%, 50%);
}
